# CONFIGURACIÓN DEL SERVIDOR
PORT=4000

# CONFIGURACIÓN DE LA BASE DE DATOS (DOCKER / LOCAL)
DB_USER=postgres
DB_PASSWORD=tu_contraseña_segura
DB_NAME=classboard_db
DB_PORT=5432

# URL DE CONEXIÓN PARA PRISMA ORM
DATABASE_URL="postgresql://postgres:tu_contraseña_segura@localhost:5432/classboard_db?schema=public"

# AUTENTICACIÓN
JWT_SECRET=una_clave_secreta_muy_larga_y_segura